<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkjs.mapper.ActivityMapper">
    <select id="findAll" resultType="Activity">
        select * from activity
    </select>
    <select id="findAById" resultType="Activity">
        select * from activity where binary aid=#{id}
    </select>
    <insert id="insertActivity" parameterType="Activity">
        insert into activity
            (aid, startData, endData, detail, teacher, sponsor, title)
            value(#{aid},#{startData},#{endData},#{detail},#{teacher},#{sponsor},#{title})
    </insert>

</mapper>
